RewriteEngine On

# Jika file atau folder fisik ada, langsung buka file/folder tersebut
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request lainnya ke index.php root
RewriteRule ^(.*)$ index.php [QSA,L]


